# Network configuration
NEXT_PUBLIC_STACKS_NETWORK=devnet

NEXT_PUBLIC_PLATFORM_HIRO_API_KEY=XXX

NEXT_PUBLIC_DEPLOYER_ACCOUNT_ADDRESS==SP...XXX

PINATA_GATEWAY_URL=xxxx
PINATA_API_KEY=xxx
PINATA_SECRET_KEY=xxxx
PINATA_JWT=xxxx

RESEND_API_KEY=xxxx

NEXT_PUBLIC_SUPABASE_URL=xxxx
NEXT_PUBLIC_SUPABASE_KEY=
SUPABASE_SECRET_KEY=

NEXT_PUBLIC_PLATFORM_HIRO_API_KEY=xxxx